*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #1a0dab;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
	height: 60px;
	border-bottom: 2px solid black;
}

.nav-links {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	height: 100%;
	gap: 5px;
}

.nav-links a {
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.active {
	background-color: #eee;
}

.home {
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 60px;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-bottom: 150px;
}

.welcome .first {
	font-size: 3em;
	font-weight: 800;
}

.welcome .second {
	font-size: 1.8em;
	font-weight: 600;
}

.welcome a {
	font-size: 1.3em;
}

.shop {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-link {
	position: absolute;
	top: 100px;
	right: 60px;
	font-size: 1.3em;
	font-weight: 600;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 90px;
	row-gap: 50px;
	width: 80%;
}

.cards a {
	height: 250px;
	width: 200px;
	padding: 25px 50px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: transform 0.3s ease 0s;
	cursor: default;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.cards a:hover {
	transform: scale(1.05);
}

.cards a img {
	height: 30%;
}

.cards a p {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
}

.card {
	background-color: #ddd;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-container {
	border: 2px solid black;
	width: 40%;
	height: 300px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card-image img {
	height: 100px;
}

.card-details {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-name {
	font-size: 2em;
	font-weight: 700;
}

.card-effect {
	font-size: 1.3em;
}

.card form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card input {
	padding: 5px;
}

.card button {
	padding: 5px;
	background-color: aquamarine;
	font-weight: 600;
}

.cart {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100vh;
}

.cart-title {
	width: 75%;
	font-size: 1.5em;
	font-weight: 600;
	margin: 30px 0 20px 0;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 65%;
}

.item {
	padding: 25px 50px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: default;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left,
.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.right {
	margin-right: 50px;
	gap: 100px;
}

.item-name {
	font-size: 1.2em;
	font-weight: 500;
}

.cart-summary {
	margin: 40px;
	width: 75%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 1.3em;
	font-weight: 600;
}

.cart-summary * {
	padding: 5px;
}

.cart-summary button {
	font-size: inherit;
	font-weight: inherit;
	background-color: aquamarine;
	cursor: pointer;
}
