*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

a {
	text-decoration: none;
	color: #1a0dab;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
	height: 60px;
	border-bottom: 2px solid black;
}

.nav-links {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	height: 100%;
	gap: 5px;
}

.nav-links a {
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.active {
	background-color: #eee;
}

.home {
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 60px;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-bottom: 150px;
}

.welcome .first {
	font-size: 3em;
	font-weight: 800;
}

.welcome .second {
	font-size: 1.8em;
	font-weight: 600;
}

.welcome a {
	font-size: 1.3em;
}

.shop {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 60px;
}

.cart {
	position: absolute;
	top: 20px;
	right: 50px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
	margin-top: 30px;
}

.item {
	padding: 25px 10px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: default;
	display: flex;
	justify-content: space-between;
}
